@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " 用户列表";
}
@section script{
    <script>
        var userInfoDialog,vue;
        $(function () {
            $('body')
                .on('click', '#userInfoSubmit', function () {
                    var btn = $(this),
                        form = $('#createUserInfoForm');

                    form.validate({
                        ignore: ":hidden",
                        rules: {
                            userName: {
                                required: true
                            },
                            trueName: {
                                required: true
                            }
                            ,
                            password: {
                                required: true
                            }
                            ,
                            role: {
                                required: true
                            }
                            ,
                            mobile: {
                                required: true
                            }
                            ,
                            email: {
                                required: true,
                                email: true
                            }
                        },
                        messages: {
                            userName: {
                                required: "请填写用户名."
                            },
                            trueName: {
                                required: "请填写真实姓名."
                            }
                            ,
                            password: {
                                required: "请填写密码."
                            }
                            ,
                            role: {
                                required: "请选择角色."
                            }
                            ,
                            mobile: {
                                required: "请填写手机号码."
                            }
                            ,
                            email: {
                                required: "请填写邮箱.",
                                email: "邮箱格式不正确"
                            }
                        },
                        submitHandler: function (form) {
                            $.ajax({
                                url: '@Url.Action("Add","User")',
                                beforeSend: function () {
                                    btn.button('loading')
                                },
                                type: 'post',
                                dataType: 'json',
                                data: $('#createUserInfoForm').serialize(),
                                success: function (response) {
                                    if (response.s == 10006) {
                                        app.tips('操作成功', function () {
                                            userInfoDialog.close();
                                            vue.getList();
                                        });
                                    } else {
                                        app.tips(response.msg);
                                    }
                                },
                                complete: function () {
                                    btn.button('reset');
                                }
                            })
                        }
                    });
                })

            vue = new Vue({
                el: '#app',
                data: {
                    total: 0,
                    pageSize: 10,
                    userName:'',
                    pageOptions: {
                        currentPage: 1,
                        bootstrapMajorVersion: 1,
                        totalPages: 1,
                        alignment: "right",
                        onPageClicked: function (e, originalEvent, type, page) {
                            vue.pageOptions.currentPage = page;
                            vue.getList();
                        }
                    },
                    apiGetListUrl: '@Url.Action("GetUserList","User")',
                    apiDeleteUrl: '@Url.Action("DeleteUser","User")',
                    dataList: []
                },
                ready: function () {
                    this.getList();
                },
                methods: {
                    openUserDialog: function (id) {
                        var vm = this;
                        id = id || '';
                        userInfoDialog = app.dialog({
                            title: '用户信息',
                            nl2br: false,
                            message: $('<div></div>').load('@Url.Action("UserInfo","User")?id=' + id)
                        });
                    },
                    del: function (id) {
                        var vm = this;
                        app.confirm("确认要删除该用户吗？", function (result) {
                            if (result) {
                                $.get('@Url.Action("DeleteUser","User")?id=' + id, function (response) {
                                    if (response.s == 10006) {
                                        app.tips("删除成功", function () {
                                            vm.getList();
                                        })
                                    } else {
                                        app.tips(response.msg);
                                    }
                                });
                            }
                        })
                    },
                    edit: function (id) {
                        this.openUserDialog(id);
                    },
                    search: function () {
                        this.getList();
                    },
                    getList: function () {
                        var vm = this;
                        $.ajax({
                            url: vm.apiGetListUrl,
                            beforeSend: function () {
                                loading();
                            },
                            type: 'get',
                            dataType: 'json',
                            data: {
                                pageIndex: vm.pageOptions.currentPage,
                                pageSize: vm.pageSize,
                                userName:vm.userName
                            },
                            success: function (response) {
                                if (response.s === 10006) {
                                    vm.dataList = response.data;
                                    vm.total = response.count;
                                    if (vm.total > vm.pageSize) {
                                        vm.pageOptions.totalPages = getTotalPage(response.count, response.pgSize);
                                        $('.pagination').bootstrapPaginator(vm.pageOptions);
                                    } else {
                                        $('.pagination').html('');
                                    }
                                }

                            },
                            complete: function () {
                                loading(false);
                            }
                        })
                    }
                }
            });
        });
    </script>
}
@section scriptSrc{
    <script src="~/Statics/js/bootstrap-paginator.js"></script>
    <script src="~/Statics/js/jquery.validate.min.js"></script>
    <script src="~/Statics/js/jquery.validate.bootstrap.js"></script>
}
<div class="container-fluid">
    <div class="info-center">
        <div class="page-header">
            <div class="pull-left">
                <h4>列表信息</h4>
            </div>
        </div>
        <div class="search-box row">
            <div class="col-md-8">

                <div class="form-group">
                    <input class="form-control" type="text" v-model="userName" placeholder="用户名" />
                </div>

                <div class="form-group btn-search">
                    <button class="btn btn-primary" v-on:click="search()"><span class="glyphicon glyphicon-search"></span> 搜索</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="button" v-on:click="openUserDialog()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> 新增</button>
                    @*<div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-edit"></span> 审核
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">通过</a></li>
                            <li><a href="#">不通过</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> 删除</button>*@
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="table-margin table-responsive">
            <table class="table table-bordered table-header table-hover">
                <thead>
                    <tr>
                        <th>
                            用户名
                        </th>
                        <th>
                            真实姓名
                        </th>
                        <th>
                            角色
                        </th>
                        <th>
                            手机号码
                        </th>
                        <th>
                            邮箱
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in dataList">
                        <td>
                            {{item.userName}}
                        </td>
                        <td>
                            {{item.trueName}}
                        </td>
                        <td>
                            {{item.role==1 ? "管理员" : "开发人员"}}
                        </td>
                        <td>
                            {{item.mobile}}
                        </td>
                        <td>
                            {{item.email}}
                        </td>
                        <td>
                            <button type="button" v-on:click="del(item.id)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>删除</button>
                            <button type="button" v-on:click="edit(item.id)" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>编辑</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot v-show="total>pageSize">
                    <tr>
                        <td colspan="6">
                            <div class="pull-right">
                                <nav>
                                    <div class="pagination pagination-right"></div>
                                </nav>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>